body {
    font-family: Arial, sans-serif;
    background-color: #f5f0f0;
    margin: 0;
    padding: 0;
    color: #0f0e0e;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/053/857/350/small/the-sky-is-filled-with-clouds-and-the-ocean-is-rough-with-waves-crashing-against-the-shore-scene-is-serene-and-tranquil-as-the-clouds-and-waves-create-a-sense-of-calmness-and-peacefulness-free-photo.jpg");
    background-size: cover;
    
}

header {
    
    color: rgb(1, 12, 17);
    padding: 1rem;
    text-align: center;
    border-radius:2%;
    
    margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

/* Form Styles */
#search {
    margin-bottom: 2rem;
}

#weather-form {
    display: flex;
    gap: 1rem;
}

#city-input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Weather Display Styles */
#weather-display {
    background-color: #94c8f3;
    padding: 0.5rem;
    border-radius: 8px;
    border-style:solid;
    border-color: #839abd;
    background-image: url("https://videocdn.cdnpk.net/videos/b08aacc8-eac6-4e78-b481-ffc9752c3f60/horizontal/thumbnails/small.jpg");
    background-size: cover;


    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#weather-container {
    font-size: 1.2rem;
}

p {
    margin: 0.5rem 0;
}

/* Footer Styles */
footer {
    background-color: #479bf5;
    color: rgb(12, 3, 3);
    text-align:center;
    font-size: 100%;
    padding: 0.rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/053/857/350/small/the-sky-is-filled-with-clouds-and-the-ocean-is-rough-with-waves-crashing-against-the-shore-scene-is-serene-and-tranquil-as-the-clouds-and-waves-create-a-sense-of-calmness-and-peacefulness-free-photo.jpg");
    background-size: cover;
    position:fixed ;
}